body {
	margin-top: 30px;
	background: #EEEEEE;
 	text-align: center;
 	background-color: #34495e;
}

img {
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	height: auto; 
    width: auto;

    max-width: 500px; 
    max-height: 500px;
    margin-bottom: 30px;

}
